<nav class="nav-extended ">
  <div class="nav-wrapper light-blue lighten-1">
     

    <a href="/products" class="brand-logo">Companio</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/partners">Partners</a></li>
      <li><a  href="/products">Products</a></li>
      <li><a  href="/product/new">Add new product</a></li>
    </ul>
  </div>
</nav>
