<nav class="nav-extended ">
  <div class="nav-wrapper light-blue lighten-1 ">
     

    <a href="/products" class="brand-logo">Companio</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li><a href="/partners"><i class="material-icons left">person</i>Partners</a></li>
      <li><a  href="/products"><i class="material-icons left">card_travel</i>Products</a></li>
      <li><a  href="/depots"><i class="material-icons left">local_shipping</i>Depots</a></li>
      <li><a  href="/orders"><i class="material-icons left">receipt</i>Orders</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <img class="responsive-img" src="https://www.w3schools.com/w3css/img_lights.jpg">
    <li><a href="/partners">  <i class="material-icons">person</i>
      Partners</a></li>
    <li><a  href="/products">  <i class="material-icons">card_travel</i>
      Products</a></li>
    <li><a  href="/depots">  <i class="material-icons">local_shipping</i>
      Depot</a></li>
    <li><a  href="/orders">  <i class="material-icons">receipt</i>
      Order</a></li>
  </ul>
