<!DOCTYPE html>
<html>
  <head>
   
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <header>
    <% include ../partials/header %>
  </header>
  <body class="flow-text  grey darken-3 green-text text-lighten-1">
      <form action="", method="POST", role="form">
          <input type="text" name="name">
          <input type="text" name=>
      </form>
        <% include ../partials/foot %>
    </body>
  </html>
  