<!DOCTYPE html>
<html>
  <head>
   
    <% include ../partials/head %>
  </head>
  <header>
    <% include ../partials/header %>
  </header>
  <body class="grey darken-4 green-text text-lighten-1">
       
            
       
      
          <div class="row">
            <div class="col s3 m3">
              <h4 class=flow-text>Sidenavbar</h4>
             <ul class="collapsible">
                <li>
                    <div class="collapsible-header grey darken-4 green-text"><i class="material-icons">business_center</i>Courses</div>
                      <div class="collapsible-body grey darken-4 green-text">
                        
                         
                              
                              <a class="collection-item grey darken-4 green-text text-lighten-1 waves-effect waves-teal btn-flat" href="/new"><i class="material-icons left">filter_drama</i>
                               Add new
                               
                              </a>
                              <a class="collection-item grey darken-4 green-text text-lighten-1 waves-effect waves-teal btn-flat" href="#"><i class="large material-icons left">insert_chart</i>
                              View my courses
                            </a>
                            <a class="collection-item grey darken-4 green-text text-lighten-1 waves-effect waves-teal btn-flat" href="#"><i class="large material-icons left">insert_chart</i>
                              Buddy write more than that 
                            </a>
                        
                        </li>
                        </ul>
                    
            </div>
            <div class="col s6 m6">
                
                  <div class="row">
                  <form class="col s12">
                      <div class="input-field ">
                        <input class="grey darken-4 green-text text-lighten-1" id="search" type="search" required>
                        <i class="material-icons">close</i>
                      </div>
                    </form>
                  </div>
                      <ul class="collection">
                        <% courseList.forEach(course =>{ %>
                          <li class="collection-item avatar grey darken-4 green-text text-lighten-1">
                            <img src="images/yuna.jpg" alt="" class="circle">
                            <a href="/course/<%= course._id %>" class="title grey darken-4 green-text text-lighten-1"> <%= course.name  %></a>
                            <p> <%= course.type %><br>
                               <%= course.courseItems %>
                            </p>
                            <a href="#!" class="secondary-content "><i class="material-icons">grade</i></a>
                          </li>
                         <% }); %>
                        </ul>
            </div>                                                  
                    <div class="col s3 m3">
                        <h4 class=flow-text>               Chatbox
                          </h4>
                          <img class="responsive-img materialboxed" src="/images/1538884585245.jpg">

                      
                    </div>
                
                 
                
             
              
           
               
                   

           </div>
          </div>
       
    <% include ../partials/foot %>
    <script>
    $(document).ready(function(){
    $('.collapsible').collapsible();
  });

  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
 </script>

  </body>
</html>
