<!DOCTYPE html>
<html>

<head>

  <% include ../partials/head %>
  <title><%= title %></title>
</head>
<header>
  <% include ../partials/header %>
</header>

<body class="flow-text">
  <div class="container">
    <form action="" , method="POST" , enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="name">
          <label for="name">Product name</label>
        </div>
        <div class="input-field col s12">

          <input type="text" name="product_id">
          <label for="name">Product id</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="number" name="price" id="price">
          <label for="price">Price</label>
        </div>
        <div class="input-field col s12">
          <input type="number" name="amount" id="amount" value="0">
          <label for="amount">amount</label>
        </div>

        <div class="input-field col s12">
          <input id="description" type="text" name="description" class="">
          <label for="description">Description</label>
        </div>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name='imagefilenames'>
        </div>
        <div class="file-path-wrapper">
          <input id="imagefilenames" class="file-path validate" type="text" placeholder="Upload image"
            name="imagefilenames">
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
  </div>
  </form>
  </div>
  </div>
  <% include ../partials/foot %>
</body>

</html>