<!DOCTYPE html>
<html>
  <head>
   
    <% include ../views/partials/head %>
  </head>
  <header>
    <% include ../views/partials/header %>
  </header>
  <body>
         
        
          <div class="row">
            <div class="col-sm-4">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              
            </div>
            <div class="col-sm-4"> 
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-sm-4"> 
              <p>XD Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
      
    <% include ../views/partials/foot %>
  </body>
</html>
